*.orig
.bash_history
.gitconfig
.ssh/known_hosts
*/bin/
*/obj/
bin
obj
sh.exe.stackdump
*.cache
*.ncrunchproject

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# OSX
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes

*.suo
*.user
*.sln.docstates

*.tmp

.idea

*.log
*.jfm
/Packages
Packages/
/Packages
.vs/
*.dbmdl
dist
node_modules
server.conf
